# --- URLS ---
CALDAV_URL = https://caldav.icloud.com/
MAIN_URL = https://orar.usarb.md

# --- ICloud ---
ICLOUD_USERNAME = user@icloud.com
# App specific password (NOT the regular one!)
ICLOUD_PASSWORD = xxxx-yyyy-zzzz-qqqq

# --- Calendar ---
CALENDAR_NAME = USARBy Schedule

# --- User settings ---
GROUP_NAME = IT11Z
SCHEDULE_PATH = schedule_snapshots/schedule_snapshot.json